* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

img {
    width: 30px;
    height: 30px;
}